* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f2f2f2;
  padding: 40px;
}

.resume {
  max-width: 900px;
  margin: auto;
  background: #e6e6e6;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 12px;
  overflow: hidden;
}


.left {
  padding: 40px;
}

.name {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  font-weight: 600;
}

.upper{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
}


.mail{
    float: right;
    font-size: 12px;
    text-align: right;
}

a{
    text-decoration: none;
    color: #555;
}

a:hover{
    text-decoration: underline;
}

.role {
  margin: 10px 0 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.summary {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 30px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.divider {
  height: 1px;
  width: 40px;
  background: #555;
  margin: 8px 0 15px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

.college {
  font-size: 12px;
  margin-bottom: 10px;
}

.college span {
  float: right;
}

ul {
  list-style: disc;
  padding-left: 18px;
}

ul li {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 6px;
}

.certificates {
    font-weight: 500;
    font-size: 14px;
}

.right {
  background: #dedede;
  padding: 40px 30px;
}

.photo {
  width: 100%;
  height: 180px;
  background: #bbb;
  border-radius: 8px;
  margin-bottom: 30px;
}

.right p {
  font-size: 12px;
  margin-bottom: 6px;
}
